{
  "presets":[
    "react",
    ["env",{
      "targets": {
        "browers": "> 5%"
      },
      "modules": false
    }]
  ],
  "plugins":[["import",{
    "libraryName": 'antd',
    "style": true
  }]]
}
