<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>blog</title>
    <link href="/public/css/reset.css" rel="stylesheet" type="text/css">
    <link href="/public/css/main.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <header class="flex">
      <h1>欢迎光临我的博客</h1>
    </header>
    <nav class="flex">
      <ul class="flex">
        <li>
          <a herf="#">首页</a>
        </li>
        <li>
          <a href="#">HTML5</a>
        </li>
        <li>
          <a href="#">CSS</a>
        </li>
        <li>
          <a hef="#">JAVASCRIPT</a>
        </li>        
        <li>
          <a href="#">PHP</a>
        </li>
        <li>
          <a href="#">JAVA</a>
        </li>
        <li>
          <a href="#">Express</a>
        </li>
      </ul>
    </nav>
    <section id="app">
      <main class="left">
        <article class="item">
          <div class="title">symfony</div>
          <div class="show-list">
            
          </div>
          <div class="summary">
            
          </div>
          <a class="read-more">阅读全文</a>
        </article>
      </main>
      <aside class="right"></aside>
    </section>
  </body>
</html>
